<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=0.5">
    <meta name="description" content="Nerva Price Check Dashboard">
    
	<meta name="keywords" content="Nerva Dashboard Price">

    <title>Nerva Price Check</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/yaslabs_logo.ico" type="image/x-icon">
    


    <link rel="stylesheet" type="text/css" href="/css/style.css">

   
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/gauge.min.js"></script>
    <script type="text/javascript" src="Chart.js"></script>
    
    
     <link href="jqvmap.css" media="screen" rel="stylesheet" type="text/css">

  <!--  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
    <script type="text/javascript" src="jquery.vmap.js"></script>
    <script type="text/javascript" src="/maps/jquery.vmap.world.js" charset="utf-8"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132786336-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132786336-1');
</script>
    <script type="text/javascript">
		
	

		
var gauge
var country_global

    function update(){
	var hpw=$('#hpw').val();
	var er=$('#er').val();
	$.get( "/getnh",function( data ) {
	  $('#nh').html(data)
	});
	$.get( "/getr",function( data ) {
	  $('#r').html(data)
	});
	$.get( "/getxnv",function( data ) {
	  $('#xnv').html(data)
	  
	});
	$.get( "/getbtc",function( data ) {
	  $('#btc').html(data)
	});
	$.get( "/getreal",{hpw:hpw,er:er},function( data ) {
	  $('#real').html(data)
	});
	$.get( "/getratio",{hpw:hpw,er:er},function( data ) {
	  $('#ratio').html(data)
	  gauge.set(data);
	  
	  if(data<90){
		   $('#idea').html("Good time to buy")
			 
	  }else if(data>110){
		   $('#idea').html(" Good time to mine")
		  
	  }else if(data>90 && data<110){
		  $('#idea').html("Optimized position")
	  }
	 
	  
	});
	$.get( "/getmarket",function( data ) {
	  $('#market').html(data)
	});
}

function calculate(){
	var hps=$('#hps').val();
	$.get( "/getdayincome",{hps:hps},function( data ) {
	  $('#income-day').html(data)
	  $('#income-month').html((data*30).toFixed(3).toString())
	});
	$.get( "/getdayincomed",{hps:hps},function( data ) {
	  $('#income-day-d').html(data)
	  $('#income-month-d').html((data*30).toFixed(3).toString())
	});
	
	
}
    </script>
    

  </head>
  
  <body>
    <div class="container">
		<h1>Nerva Coin Price Check</h1>
		<div id="data-area">
		
		
		
      <fieldset>
		  <h3>Nerva Coin Info</h3>
		  <p>
		   <% if(nh !== null){ %>
          Network Hash Rate: <span id="nh"> <%= nh %></span>MH
        <% } %>
        <br>
        
         <% if(r !== null){ %>
          Reward: <span id="r"><%= r %></span> XNV
        <% } %>
        </p>
        <p>
         <% if(xnv_btc !== null){ %>
          Nerva value: <span id="xnv"> <%= xnv_btc %></span> BTC
        <% } %>
       <br>
        <% if(btc_usd !== null){ %>
        BTC value: $<span id="btc"><%= btc_usd %></span>
        <% } %>
        </p>
        <form id="form1" action="">
          <input id="hpw" name="hpw" type="number" step="0.1" class="ghost-input" placeholder="Enter a Hash/Watt(default: 15.0)" <% if(real !== null){ %> value="<%= hpw %>" <% } %> required>
          <input id="er" name="er" type="number" step="0.01" class="ghost-input" placeholder="Electricity rate(default: $0.1/kWh)" <% if(real !== null){ %> value="<%= er %>"<% } %> required>
          <button type="button" class="ghost-button" value="Get Price" onclick="update();">Get Price</button>
        </form>
       
         <% if(real !== null){ %>
          <p>Real Value (Electricity): $<span id="real"><%= real %></span></p>
        <% } %>
         <% if(market !== null){ %>
          <p>Market Value: $<span id="market"><%= market %></span></p>
        <% } %>
        <p>
		 <% if(ratio !== null){ %>
          Ratio: <span id="ratio"><%= ratio %></span> %
          
          <% } %>
        
        </p>
        <% if(error !== null){ %>
          <p><%= error %> </p> 
				<% } %>
			
					<div>
        <div style="float:left;">
			
				<canvas  id="ratio_gauge" style="width:150px; height:130px;"> </canvas>
				<p>Mining</p>
			</div>

				<div style="float:right;">

			
				<canvas  id="ratio_gauge_buy" style="width:150px; height:130px;"></canvas>
				<p>Buying</p>
		
				</div>
			</div>
			<div style="clear:right;">
	
        <p id="idea">
          <% if(ratio_val < 90){ %>
			   Good time to buy 
			<% } %>
			  <% if(ratio_val >110){ %>
			   Good time to mine
			<% } %>
			<% if(ratio_val >90 && ratio_val <110){ %>
			   Optimized position
			<% } %>
				</p>
			</div>
       
        
          
      </fieldset>
       <fieldset>
			  <h3>Income Calculator</h3>
			  <div id="profit-calculator">
				<form id="form2" action="">
				<input id="hps" name="hps" type="number" step="0.1"  class="ghost-input" placeholder="Enter hash per second" required>
				<input id="nn" name="nn" type="number" step="0.1" hidden=true>
				<button type="button" class="ghost-button" value="Calculate" onclick="calculate();">Calculate</button>
				</form>
			
				<p>Day Income : <span id='income-day'></span> XNV ($<span id='income-day-d'></span>)</p>
				<p>Month Income : <span id='income-month'></span> XNV ($<span id='income-month-d'></span>)</p>
			  </div>
		  </fieldset>
      
		  
      
      </div>
      
      
	<div id="chart-area">
		<fieldset>
      <h3>Nerva Node map</h3>
         <div id="vmap" style="width: 600px; height: 400px;"></div>
      
       </fieldset>

		
	<fieldset>
      <h3>Charts</h3>
         <!-- <div id="vmap" style="width: 600px; height: 400px;"></div> -->
          <p><canvas id="myChart_XNV" width="600" height="200"></canvas></p>
         <p><canvas id="myChart_ratio" width="600" height="150"></canvas></p>
          <p><canvas id="myChart_reward" width="600" height="350"></canvas></p>
       </fieldset>
      
       
     
	</div>
	<div id="countries1"></div>
     
	
        
       
<script>
 jQuery(document).ready(function() {	
	 

var myChart_xnv;
var myChart_ratio;
var x_xnv=[]
var x_ratio=[]
var xnv_array=[]
var ratio_array=[]
var index=[]
var myChart_reward;
var reward_month=[]
var reward_month_label=[]



function drawGauge(){	
	 var opts = {
	  angle: -0.2, // The span of the gauge arc
	  lineWidth: 0.2, // The line thickness
	  radiusScale: 1.1, // Relative radius
	  pointer: {
		length: 0.53, // // Relative to gauge radius
		strokeWidth: 0.068, // The thickness
		color: '#000000' // Fill color
	  },
	  staticZones: [
			 {strokeStyle: "#6c0000", min: 0, max: 90},
			 {strokeStyle: "#7686b2", min: 90, max: 110},
			 {strokeStyle: "#007200", min: 110, max: 200}
		   
		  ],
	  limitMax: true,     // If false, max value increases automatically if value > maxValue
	  limitMin: true,     // If true, the min value of the gauge will be fixed
	  colorStart: '#6FADCF',   // Colors
	  colorStop: '#8FC0DA',    // just experiment with them
	  strokeColor: '#E0E0E0',  // to see which ones work best for you
	  generateGradient: true,
	  highDpiSupport: true,     // High resolution support
	  renderTicks: {
		divisions: 5,
		divWidth: 1.1,
		divLength: 0.7,
		divColor: '#333333',
		subDivisions: 3,
		subLength: 0.5,
		subWidth: 0.6,
		subColor: '#666666'
	  }
	  
	};
	var target = document.getElementById('ratio_gauge'); // your canvas element
	var target2 = document.getElementById('ratio_gauge_buy'); // your canvas element
	gauge = new Gauge(target).setOptions(opts); // 
	gauge2 = new Gauge(target2).setOptions(opts); // 
	var value_1='';
	<% if(ratio_val !== null){ %>
	   value_1 =<%= ratio_val %>;
	<% } %>
	<% if(ratio_val2 !== null){ %>
	   value_2 =<%= ratio_val2 %>;
	<% } %>

	gauge.maxValue = 200; // set max gauge value
	gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
	gauge.animationSpeed = 50; // set animation speed (32 is default value)
	gauge.set(value_1); // set actual value

	gauge2.maxValue = 200; // set max gauge value
	gauge2.setMinValue(0);  // Prefer setter over gauge.minValue = 0
	gauge2.animationSpeed = 50; // set animation speed (32 is default value)
	gauge2.set(value_2); // set actual value
}


function updateChart_reward(){
	var ctx = document.getElementById('myChart_reward').getContext('2d');	

	myChart_reward = new Chart(ctx, {
	type: 'line',
	data: {
		labels: reward_month_label,
		datasets: [{
			
		label: 'XNV reward with time',
		data: reward_month,
		yAxisID: 'A',
		backgroundColor: "rgba(54, 162, 235, 0.4)",
		}]
	},
	options: {
		elements: {
            line: {
                tension: 0, // disables bezier curves
            },
			point:{
				radius: 0
			}
		
        },
       
		animation:{duration:0},
		title: {
		display: true,
		text: ""
		},
		tooltips: {
		mode: 'label',
			
		},hover:{
			mode:'label',
		},
	
		responsive: true,
		scales: {
			
		xAxes: [{
			id:'x-axis',
			scaleLabel: {
			display: true,
			labelString: 'Month'
			}}],
		
		yAxes: [{
			scaleLabel: {
			display: true,
			labelString: 'Reward'
			},
        
		stacked: false,
		position: "left",
		id: "A",
		ticks: {
		    min:0

		}
		}]
		},
		
	}
});

}



function updateChart_XNV(){
	var ctx = document.getElementById('myChart_XNV').getContext('2d');	

	myChart_xnv = new Chart(ctx, {
	type: 'line',
	data: {
		labels: x_xnv,
		datasets: [{
			
		label: 'XNV Value in $',
		data: xnv_array,
		yAxisID: 'A',
		backgroundColor: "rgba(54, 162, 235, 0.4)",
		}]
	},
	options: {
		elements: {
            line: {
                tension: 0, // disables bezier curves
            },
			point:{
				radius: 0
			}
		
        },
       
		animation:{duration:0},
		title: {
		display: true,
		text: "XNV price chart"
		},
		tooltips: {
		mode: 'label'
		},
		responsive: true,
		scales: {
		yAxes: [{
		stacked: false,
		position: "left",
		id: "A",
		ticks: {
			min:0

		}
		}]
		}
	}
});

}

function updateChart_ratio(){
	var ctx = document.getElementById('myChart_ratio').getContext('2d');	
	myChart_ratio = new Chart(ctx, {
	type: 'line',
	data: {
		labels: x_ratio,
		datasets: [{
			
		label: 'Ratio %',
		data: ratio_array,
		yAxisID: 'A',
		backgroundColor: "rgba(28, 229, 68, 0.4)"
		},
		{
		//label: 'Ratio Value in %',
		data: index,
		yAxisID: 'A',
		backgroundColor: "rgba(108, 156, 190, 0.4)"
		}
		]
	},
	options: {
		elements: {
            line: {
                tension: 0, // disables bezier curves
            }
        },
       
		animation:{duration:0},
		title: {
		display: true,
		text: "Production cost to market price ratio %"
		},
		legend: {
            display: false
         },
		tooltips: {
		mode: 'label'
		},
		responsive: true,
		scales: {
		yAxes: [{
		stacked: false,
		position: "left",
		id: "A",
		ticks: {
		beginAtZero: true,
		//steps: 10,
		//stepValue: 5,
		//max: 200
		}
		}]
		},
		elements: {
		point:{
		radius: 0
		}
		}
	}
});

}
function chartsUpdate(){
	$.get( "/getmarket",function( data ) {  
		x_xnv.push(new Date().toLocaleTimeString());
		xnv_array.push(parseFloat(data));
		xnv_array.shift()
		x_xnv.shift()	

		updateChart_XNV()
	});
	
	var hpw=20.0
	var er=0.1
	//var hpw=$('#hpw').val();
	//var er=$('#er').val();
	
	$.get( "/getratio",{hpw:hpw,er:er},function( data ) { 	  
		
		x_ratio.push(new Date().toLocaleTimeString());
		ratio_array.push(parseInt(data));
		ratio_array.shift()
		x_ratio.shift()
		
		updateChart_ratio(); 
	});
}

function getChartData(){
const url = '/getrecords';	
	
fetch(url)
  .then(res => {
    if (!res.ok) {
      throw new Error(res.statusText);
    }
    return res.json();
  })
  .then(data => {
    let dataJson = data;
    let i=1
    dataJson.forEach(rec => {
      x_xnv.push(new Date(rec.date).toLocaleTimeString());
      x_ratio.push(new Date(rec.date).toLocaleTimeString());
      
      ratio_array.push(parseInt(rec.ratio));
      xnv_array.push(parseFloat(rec.marketvalue));
      i=i+1
      index.push(100)
      
    });    
 
    x_xnv=x_xnv.reverse()
    x_ratio=x_ratio.reverse()
    ratio_array=ratio_array.reverse()
    xnv_array=xnv_array.reverse()
    updateChart_XNV()
    updateChart_ratio()

  }).catch(error => console.log("fetch error"));	
}


function getRewardChart(){
const url2 = '/getrewards';		 
  fetch(url2)
  .then(res => {
	  console.log(1);
    if (!res.ok) {
      throw new Error(res.statusText);
    }
    console.log(2);
    return res.json();
  })
  .then(data => {
   console.log(3);
    data.forEach(rec => {
		console.log(4);
      reward_month_label.push(rec[0]);
      reward_month.push(rec[1]);
      
    });    
 
 
    updateChart_reward()

  }).catch(error => console.log("fetch error"));	
}




function getCountries(){
	$.get( "/getcountries",function( data ) {
	var count=0
	for (country in data)
    {
        count = count + data[country]
    }
	 $('#node_count').html(count)
	  updateMap(data)
	  country_global=data
	 
	   
		
	});
}

function getCountries2(){
	$.get( "/getcountries",function( data ) {
	var count=0
	for (country in data)
    {
        count = count + data[country]
    }
	 $('#node_count').html(count)
	  country_global=data
	  updateMap2(data)
	  
	 
	   
		
	});
}
function decodeMap(data){
	var gdpData = data
		 
		var max = 0,
        min = Number.MAX_VALUE,
        cc,
        startColor = [200, 238, 255],
        endColor = [0, 100, 145],
        colors = {},
        hex;

    //find maximum and minimum values
    for (cc in gdpData)
    {
        if (parseFloat(gdpData[cc]) > max)
        {
            max = parseFloat(gdpData[cc]);
        }
        if (parseFloat(gdpData[cc]) < min)
        {
            min = parseFloat(gdpData[cc]);
        }
    }

    for (cc in gdpData)
    {
        if (gdpData[cc] > 0)
        {
            colors[cc] = '#';
            for (var i = 0; i<3; i++)
            {
                hex = Math.round(startColor[i]
                    + (endColor[i]
                    - startColor[i])
                    * (gdpData[cc] / (max - min))).toString(16);

                if (hex.length == 1)
                {
                    hex = '0'+hex;
                }

                colors[cc] += (hex.length == 1 ? '0' : '') + hex;
            }
        }
    }
    return colors
}
	
function updateMap2(data){
	
	jQuery('#vmap').vectorMap('set', 'colors', decodeMap(data));
	jQuery('#vmap').vectorMap('set', 'values',data);
}	
	

function updateMap(data){
	var gdpData = data
		 
	colors = decodeMap(gdpData)
    //initialize JQVMap
    
    jQuery('#vmap').vectorMap(
    {
        colors: colors,
        hoverOpacity: 0.7,
		hoverColor: '#c9dfaf',
		normalizeFunction: 'linear',
		selectedRegions: null,
		values: gdpData,
		onLabelShow: function (event, label, code) {
		if(country_global[code] > 0)
			label.append(': '+country_global[code]+' Nodes'); 
		}

    });
    
}
	
	$('#income-day').html(0)
	
	$('#income-day-d').html(0)
	
	$('#income-month').html(0)
	
	$('#income-month-d').html(0)
	
	getChartData()
	updateChart_reward()
	
	getRewardChart()
	getCountries()
	drawGauge()		
	chartsUpdate()
	setInterval(update, 60000);	
	setInterval(getCountries2, 60000*5);	
	setInterval(chartsUpdate, 60000);			 
		 
})
	</script>
 
    </div>
  </body>
</html>
