/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/
 
body {
  width: auto;
  margin: 0 5px auto;
  height: 150vh;
  #float:left;
  
  font-family: 'Open Sans', sans-serif;
    background-image: -moz-linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
    background-image: linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
  #max-width: 450px;
  
}
 
 
.container {
 #column-count: 2;
 width: 900px;
  margin: 5px auto;
  background-color:transparent;
  height: 100vh;  
}
 
.container h1 {
  color: #fff;
  padding: 0 15px;
}
 
.container h3 {
  font-weight: bold;
  padding: 0 5px;
}
 
fieldset {
   background: #fff; 
   border: none;
   border-radius: 4px;
   padding:15px;
   margin: 10px 5px;
}
 
#profit-calculator{
    #float:left;
    #margin: 0;
    #width: 50%;
}
#data-area{
    float:left;
    margin: 0;
    width: 50%;
    height: 100vh;
 
 
}
 
#chart-area{
    float:right;
    margin: 0 ;
    width: 50%;
     
}
 
.fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
 # min-width: -webkit-min-content;
  padding: 0px;
}
 
.ghost-input, p {
  display: block;
    border-radius: 4px;
  font-weight:300;
  width: 100%;
  font-size: 18px;
  border:0;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4d535a;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 5px;
  margin: 20px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
 
#form1 input,
#form2 input{
  border:1px solid #ccc;
}
 
.ghost-input:focus {
  border-bottom:1px solid #6f6f6f;
  color: #2b2b2b;
}
.ghost-button {
  background-color: #414346;
  border-radius: 4px;
  color:#fff;
  border:none;
  padding:15px 30px;
  width: 100%;
  min-width: auto;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  background-color:#545454;
 
}
 
#ratio_gauge,
#ratio_gauge_buy{
padding:0 0px;
}
 
p {
background-color:#ffffff;
  color: #383838;
  border-radius: 4px;
}
 
a {
  color: #fff;
}
 
h3{
    color:  #2F4F4F;
}